{% extends '@App/base.html.twig' %}

{% block header %}
<header class="header--form-page">
    {% endblock %}

    {% block confirmform %}
    <div class="slogan container container--90">
        <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
        </h2>
    </div>
    {% endblock %}