<h2>{% trans %}home.contact-form.title{% endtrans %}</h2>
<h3>{% trans %}home.contact-form.subtitle{% endtrans %}</h3>
<form class="form--contact">
    <div class="form-group form-group--50"><input type="text" name="name" id="contact-name"
                                                  placeholder="{% trans %}home.contact-form.firstname{% endtrans %}"/>
    </div>
    <div class="form-group form-group--50"><input type="text" name="surname" id="contact-surname"
                                                  placeholder="{% trans %}home.contact-form.surname{% endtrans %}"/>
    </div>

    <div class="form-group">
        <textarea name="message" id="contact-message" placeholder="{% trans %}home.contact-form.message{% endtrans %}"
                                      rows="1">
        </textarea>
    </div>

    <button class="btn" type="submit">{% trans %}home.contact-form.button.send{% endtrans %}</button>
</form>
