<footer>
    <div id="contact" class="contact">
    {% include '@App/home/contact-form.html.twig' %}
    </div>
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img src="{{ asset('assets/images/icon-facebook.svg') }}"/></a>
            <a href="#" class="btn btn--small"><img src="{{ asset('assets/images/icon-instagram.svg') }}"/></a>
        </div>
    </div>
</footer>