<div class="stats--item">
    <em>
        {% if quantityBags %}
            {{ quantityBags }}
        {% else %}
            0
        {% endif %}
    </em>
    <h3>{% trans %}home.bags.title{% endtrans %}</h3>
    <p><b>{% trans %}home.bags.text{% endtrans %}</b>
        {% for category in categories %}
            {{ category.name }}
        {% endfor %}
    </p>
</div>
