<div class="stats--item">
    <em>
        {% if quantityBags %}
            {{ quantityBags }}
        {% else %}
            0
        {% endif %}
    </em>
    <h3>{% trans %}home.bags.title{% endtrans %}</h3>
    <p>{% trans %}home.bags.text{% endtrans %}</p>
</div>
