Witaj {{ loggedUser.username }}
<ul class="dropdown">
    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li><a href="#">Ustawienia</a></li>
    <li><a href="#">Moje zbiórki</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
</ul>