<ul class="nav--actions">
    {% if is_granted('ROLE_USER') %}
    {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
    {% endif %}
    <li class="highlighted"><a href="{{ path('fos_user_registration_register') }}">Załóż konto</a></li>
    {% if is_granted('ROLE_USER') %}
        <li class="logged-user">
            Witaj Agata
            <ul class="dropdown">
                <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                <li><a href="#">Ustawienia</a></li>
                <li><a href="#">Moje zbiórki</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
            </ul>
        </li>
    {% endif %}
</ul>