{% extends '@App/base.html.twig' %}
{% block header %}
<header class="header--form-page">
{% endblock %}
    {% block admin %}
    <div class="slogan container container--90">
        <h2>
            Witaj admin.
        </h2>
    </div>
    {% endblock %}