{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}user.new.title{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{% trans %}user.new.button.create{% endtrans %}"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">{% trans %}user.new.button.back{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
