{% extends '@App/base.html.twig' %}

{% block header %}
<header class="header">
    {% endblock %}

    {% block body %}
    <div class="slogan container container--90">
        <h2>
            Podany użytkownik nie istnieje.
        </h2>
    </div>
    {% endblock %}