{{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
<button type="submit" class="btn-primary">{% trans %}donation.change-state.button.confirm{% endtrans %}</button>
{{ form_end(edit_form) }}
