{% extends '@App/admin/base.html.twig' %}

{% block adminPage %}
    <h1>{% trans %}giftstate.new.title{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-primary">{% trans %}giftstate.new.create{% endtrans %}</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('giftstate_index') }}">{% trans %}giftstate.new.button.back{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
